body{
    background-color: rgb(202, 202, 202);
    font-family: Arial, Helvetica, sans-serif;
}

#main{
    height: 100vh;
    display: flex;
    align-items: center;
}

.left{
    height: 500px;
    background-color: rgb(0,123,255);
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.left .img{
    height: 100%;
    width: 100%;
    position: relative;
}

.left .img img{
    height: 75%;
    width: 100%;
    position: absolute;
    padding: 50px;
}

.left .img .content{
    position: absolute;
    top: 330px;
    width: 303px;
    left: 55px;
}

.left .img .content h1{
    color: white;
    font-size: 19px;
}

.left .img .content p{
    color: white;
    font-size: 13px;
}

.right{
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.col-4-edit{
    padding-right: 0;
}

.col-8-edit{
    padding-left: 0;
}

.right .right-items{
    padding-top: 50px;
    width: 350px;
}

.right .right-items h1{
    text-align: center;
    color: rgb(0, 110, 255);
    font-size: 22px;
    font-weight: 600;
}

.right .right-items .mb-3-edit{
    display: inline;
}

.right .right-items .forgot{
    padding-bottom: 20px;
}

.right .right-items .forgot a{
    text-decoration: none;
}

.right .right-items .button-edit{
    width: 100%;
}

.right .right-items .sign-up{
    width: 100%;
    display: flex;
    justify-content: center;
}

.right .right-items .sign-up a{
    text-decoration: none;
}

.right .right-items .or-edit{
    width: 45px;
    height: 45px;
    margin-top: 20px;
}

.right .right-items .facebook{
    display: flex;
    justify-content: center;
    align-items: center;
}

.right .right-items .facebook .facebook-btn{
    width: 100%;
    border: 0px;
    height: 40px;
    background-color: rgb(66,103,178);
    color: white;
    border-radius: 5px;
}

.right .right-items .google{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.right .right-items .google .google-btn{
    width: 100%;
    border: 0px;
    height: 40px;
    background-color: rgb(219,50,54);
    color: white;
    border-radius: 5px;
}








